<div class="jumbotron">
  <h1>Opps! Your Cart is Empty</h1>
  <p>Take a look at some of our amazing products and come back</p>
  <%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary btn-lg' %>
</div>