
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have just place an order</h1>
    <p>Thank you for your business. Your order will be processed soon</p>
  </body>
</html>