<tr>
  
  <td colspan="1">
    <% if category.products.size > 0 && category.products[0].image.url %>
      <%= image_tag category.products[0].image.url, class: 'cat-img' %>
    <% end %>
    <h4><%= category.name %></h4>
    <br>
  </td>

  <td colspan="1">
    <h4><%= category.products.size %></h4>
  </td>
</tr>