// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "users";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

#comment-section {
  display: none;
}

#toggle-comment:hover {
  font-size: 1.2em;
  transition: font-size .5s;
  cursor: pointer;
}
